# Python
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
ENV/
env/

# Flask instance folder
instance/

# Environment variables
.env

# IDE and editor files
.idea/
*.iml
*.vscode/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Database files
*.sqlite3
*.db

# Miscellaneous
*.DS_Store
Thumbs.db
